@import "tailwindcss";


@font-face {
      font-family: "Geist";
      font-style: normal;
      font-weight: 400 700;
      font-display: swap;
      src: url("/src/assets/Geist/Geist-VariableFont_wght.woff2") format("woff2");
}

:root {
      --background: #0F1115;
      --background-details: #1c1f27;
      --background-hero: #232323d1;
      --color-title: #F1F5F9;
      --bg-input: #383e49;
      --stroke: #0da6f2;
      --description-text: #aeaeae;
}

@theme {
      /* Custom  Breackpoint */
      --breakpoint-s: 30rem;
      --breakpoint-xs: 22rem;
      /* --------------***--------------- */

      /* Text size */
      --text-xxs: .65rem;
      /* --------------***--------------- */


      /* shadow */
      --shadow-box: 3px 3px 3px rgba(74, 74, 78, 0.8);
      /* --------------***--------------- */

      /* Font */
      --font-geist: "Geist";
      --font-primary: var(--font-geist);
      /* --------------***--------------- */


      /* Colores */
      --color-background: var(--background);
      --color-background-details: var(--background-details);
      --color-background-hero: var(--background-hero);
      --color-color-title: var(--color-title);
      --color-bg-input: var(--bg-input);
      --color-stroke: var(--stroke);
      --color-description-text: var(--description-text)
      /* ---------------***--------------- */
      
}


body {
      font-family: var(--font-primary);
      background-color: var(--background);
      color: #fff;
}

html {
  scrollbar-gutter: stable;
}


